:root {
  --gray: #767676;
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 20px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header Styling */

.container .header {
  display: flex;
  height: 7vh;
  align-items: center;
}

/* Red pinterest button */

.container .header .title-button {
  font-size: 2rem;
  color: red;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 30px;
  padding: 7px 10px;
  cursor: pointer;
}

/* Pinterest button hover */

.container .header .title-button:hover {
  background-color: #d3d3d3;
  border-radius: 50%;
}

/* Home button */

.container .header .home-button {
  color: whitesmoke;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin: 5px;
}

/* Magnifying glass inside search bar */

.container .header .input .fa-magnifying-glass {
  position: absolute;
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 1.1rem;
  color: #000;
}

/* Search bar */

.container .header .input .search-bar {
  width: 81vw;
  height: 45px;
  border-radius: 30px;
  padding-left: 2.6rem;
  background-color: #d3d3d3;
  opacity: 0.3;
}

/* Search bar placeholder */

.container .header .input .search-bar::placeholder {
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

/* Search bar focus */

.container .header .input .search-bar:focus {
  outline: 5px dodgerblue;
}

/* Bell, upload and down arrow buttons */

.container .header .fa-bell,
.container .header .fa-arrow-up-from-bracket,
.container .header .arrow-down-button {
  font-size: 1.7rem;
  color: var(--gray);
  padding: 15px;
  cursor: pointer;
}

/* Bell and upload button hover effects */

.container .header .fa-bell:hover,
.container .header .fa-arrow-up-from-bracket:hover {
  background-color: #d3d3d3;
  border-radius: 50%;
}

/* Profile button */

.container .header .profile-button {
  padding: 10px 15px;
  background-color: #d3d3d3;
  opacity: 0.7;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

/* Second stylign part of down arrow button */

.container .header .arrow-down-button {
  background-color: transparent;
  border: none;
  margin-left: 5px;
  padding: 10px 15px;
}

/* Down arrow hover effects */

.container .header .arrow-down-button:hover {
  background-color: #d3d3d3;
  border-radius: 50%;
}

/* Pictures styling */

.pin_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: 300px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  position: absolute;
}

.img-restrictions {
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  max-width: 400px;
  height: 300px;
  max-height: 400px;
  justify-content: center;
  border-radius: 20px;
  top: 0;
  left: 0;
  padding: 10px;
}

.imgWButtons {
  position: relative;
}
.imgWButtons:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}
.imgWButtons:hover::before {
  /* background-color: rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
}
.imgWButtons img {
  display: block;
}
.imgWButtons button{
  position: absolute;
  top: 250px;
  left: 10%;
  opacity: 0;
  cursor: pointer;
}
.imgWButtons .likeCount{
  position: absolute;
  top: 245px;
  left: 23%;
  opacity: 0;
}
.imgWButtons:hover button ,.imgWButtons:hover .likeCount{
  opacity: 1;
}

.pin_container .imgWButtons .heartBtn ,.imgWButtons .likeCount{
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #000;
}
.pin_container .imgWButtons .heartBtn.red {
  color: red;
}
.pin_container .imgWButtons i {
  pointer-events: none;
}

/* End of picture styling */

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 350px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  background-color: #d3d3d3;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
#closeModal {
  color: #000;
  display: flex;
  justify-content: end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal text styling */
.container .modal .modal-content .modal-text {
  font-size: 2rem;
  background: -webkit-linear-gradient(#fc5c7d, #6a82fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 100px;
}

/* File input styling */

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.file-input {
  display: flex;
  justify-content: center;
}

.file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
input:hover + label,
input:focus + label {
  transform: scale(1.02);
  outline: none;
}
input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

/* End of file input styling */

/* Submit button styling */
.container .modal .modal-content .submitButton {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 10px;
  font-family: inherit;
  font-size: 1.2rem;
  background: -webkit-linear-gradient(#fc5c7d, #6a82fb);
  outline: none;
  cursor: pointer;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
}
